# Repositories
figures/
.vscode/
data/

# python
__pycache__
*.egg-info/

# executables and object files
*.o
*.x
*.mod
*.out
mod_implicit_solver
implicit_solver
avbp_vect
brusselator_vect
NumSchemes/ODE/libraries/cvode/vectorization/out
